<p class="greeting">Congratulations! 🎉</p>
<p class="intro">Hi {{customerName}}, your application to join our Affiliate Program has been approved!</p>
<div class="infobox">
  <p><span class="label">Your Referral Code</span><br/><span class="value">{{referralCode}}</span></p>
</div>
<div class="cta-wrap">
  <a href="{{frontendUrl}}/account/affiliate" class="cta">Go to Affiliate Dashboard</a>
</div>
<hr/>
<p class="message">You can now start sharing your code or links to earn commissions on every order referred by you. Happy earning! 💚</p>
